In [1]:
from collections import defaultdict
import pickle
import pandas as pd
import numpy as np

df = pd.read_csv("data/wordbank_instrument_data.csv")
df

,downloaded,data_id,item_kind,category,item_id,item_definition,english_gloss,uni_lemma,child_id,age,value
0,2024-03-08,245518,word,sounds,item_1,baa baa,baa baa,baa baa,1,28,produces
1,2024-03-08,245518,word,sounds,item_2,choo choo,choo choo,choo choo,1,28,NaN
2,2024-03-08,245518,word,sounds,item_3,cockadoodledoo,cockadoodledoo,cockadoodledoo,1,28,NaN
3,2024-03-08,245518,word,sounds,item_4,grrr,grrr,grrr,1,28,produces
4,2024-03-08,245518,word,sounds,item_5,meow,meow,meow,1,28,NaN
...,...,...,...,...,...,...,...,...,...,...,...
6057992,2024-03-08,255023,complexity,NaN,item_793,lookit / lookit what I got,lookit / lookit what I got,NaN,86615,23,simple
6057993,2024-03-08,255023,complexity,NaN,item_794,where's my dolly / where's my dolly name Sam,where's my dolly / where's my dolly name Sam,NaN,86615,23,simple
6057994,2024-03-08,255023,complexity,NaN,item_795,we made this / me and Paul made this,we made this / me and Paul made this,NaN,86615,23,simple
6057995,2024-03-08,255023,complexity,NaN,item_796,I sing song / I sing song for you,I sing song / I sing song for you,NaN,86615,23,simple
6057996,2024-03-08,255023,complexity,NaN,item_797,baby crying / baby crying cuz she's sad,baby crying / baby crying cuz she's sad,NaN,86615,23,simple

In [5]:
print(df["item_kind"].unique())

['word' 'how_use_words' 'word_endings' 'word_forms_nouns'
 'word_forms_verbs' 'word_endings_nouns' 'word_endings_verbs' 'combine'
 'complexity']

In [2]:
with open('tmp/data.pkl', 'rb') as f:
    data = pickle.load(f)
with open('tmp/data_id_dict.pkl', 'rb') as f:
    data_id_dict = pickle.load(f)
with open('tmp/child_id_dict.pkl', 'rb') as f:
    child_id_dict = pickle.load(f)
with open('tmp/word_dict.pkl', 'rb') as f:
    word_dict = pickle.load(f)
with open('tmp/category_dict.pkl', 'rb') as f:
    category_dict = pickle.load(f)

In [3]:
df_word = df[df["item_kind"] == "word"]
df_word = df_word.replace({"value": {"produces": 1, "understands": 1}})
# df_word = df_word.replace({"value": {"understands": 0}})
df_word = df_word.fillna({"value": 0})
df_word = df_word.reset_index(drop=True)
df_word

/tmp/ipykernel_3833/1611968415.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_word = df_word.replace({"value": {"produces": 1, "understands": 1}})

,downloaded,data_id,item_kind,category,item_id,item_definition,english_gloss,uni_lemma,child_id,age,value
0,2024-03-08,245518,word,sounds,item_1,baa baa,baa baa,baa baa,1,28,1.0
1,2024-03-08,245518,word,sounds,item_2,choo choo,choo choo,choo choo,1,28,0.0
2,2024-03-08,245518,word,sounds,item_3,cockadoodledoo,cockadoodledoo,cockadoodledoo,1,28,0.0
3,2024-03-08,245518,word,sounds,item_4,grrr,grrr,grrr,1,28,1.0
4,2024-03-08,245518,word,sounds,item_5,meow,meow,meow,1,28,0.0
...,...,...,...,...,...,...,...,...,...,...,...
5168675,2024-03-08,255023,word,connecting_words,item_676,because,because,because,86615,23,0.0
5168676,2024-03-08,255023,word,connecting_words,item_677,but,but,but,86615,23,0.0
5168677,2024-03-08,255023,word,connecting_words,item_678,if,if,if,86615,23,0.0
5168678,2024-03-08,255023,word,connecting_words,item_679,so,so,so,86615,23,0.0
5168679,2024-03-08,255023,word,connecting_words,item_680,then,then,then,86615,23,0.0

In [4]:
print(len(child_id_dict))
print(len(data_id_dict))
print(len(word_dict))
print(len(category_dict))
cnt = 0
for key, val in child_id_dict.items():
    if len(val) >= 2:
        cnt += 1
print(cnt)

6373
7601
680
22
818